In [1]:
import pandas as pd

In [2]:
# Read in the CSV data using pandas and display the first 10 rows
df = pd.read_csv('Data.csv')
df.head(10)

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
5,6,Music,119000000,0.000000e+00,NaN,Music,0,NaN,NaN,Music,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
6,7,ýýý Kids Diana Show,112000000,9.324704e+10,People & Blogs,ýýý Kids Diana Show,1111,United States,US,Entertainment,...,NaN,2015.0,May,12.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
7,8,PewDiePie,111000000,2.905804e+10,Gaming,PewDiePie,4716,Japan,JP,Entertainment,...,NaN,2010.0,Apr,29.0,63.2,1.262266e+08,2.29,115782416.0,36.204824,138.252924
8,9,Like Nastya,106000000,9.047906e+10,People & Blogs,Like Nastya Vlog,493,Russia,RU,People,...,100000.0,2016.0,Jan,14.0,81.9,1.443735e+08,4.59,107683889.0,61.524010,105.318756
9,10,Vlad and Niki,98900000,7.718017e+10,Entertainment,Vlad and Niki,574,United States,US,Entertainment,...,600000.0,2018.0,Apr,23.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891

In [3]:
# Standardize column names - convert to lowercase, remove spaces, etc
df.columns = df.columns.str.lower().str.replace(' ','_')

In [4]:
# Check for any missing values
df.isnull().sum()

rank                                         0
youtuber                                     0
subscribers                                  0
video_views                                  0
category                                    46
title                                        0
uploads                                      0
country                                    122
abbreviation                               122
channel_type                                30
video_views_rank                             1
country_rank                               116
channel_type_rank                           33
video_views_for_the_last_30_days            56
lowest_monthly_earnings                      0
highest_monthly_earnings                     0
lowest_yearly_earnings                       0
highest_yearly_earnings                      0
subscribers_for_last_30_days               337
created_year                                 5
created_month                                5
created_date                                 5
gross_tertiary_education_enrollment_(%)    123
population                                 123
unemployment_rate                          123
urban_population                           123
latitude                                   123
longitude                                  123
dtype: int64

In [5]:
# List of columns to drop
columns_to_drop = ['category','title','abbreviation','video_views_rank', 'created_year', 'created_month', 'created_date',
                   'gross_tertiary_education_enrollment_(%)', 'urban_population', 'latitude', 'longitude']

# Drop the specified columns
df = df.drop(columns=columns_to_drop)

In [6]:
# Deal with the missing values
df['country'].fillna(df['country'].mode()[0], inplace=True)
df['channel_type'].fillna(df['channel_type'].mode()[0], inplace=True)
df['country_rank'].fillna(df['country_rank'].mean(), inplace=True)
df['channel_type_rank'].fillna(df['channel_type_rank'].mean(), inplace=True)
df['video_views_for_the_last_30_days'].fillna(df['video_views_for_the_last_30_days'].mean(), inplace=True)
df['subscribers_for_last_30_days'].fillna(df['subscribers_for_last_30_days'].mean(), inplace=True)
df['population'].fillna(df['population'].mean(), inplace=True)
df['unemployment_rate'].fillna(df['unemployment_rate'].mean(), inplace=True)

df.isnull().sum()

rank                                0
youtuber                            0
subscribers                         0
video_views                         0
uploads                             0
country                             0
channel_type                        0
country_rank                        0
channel_type_rank                   0
video_views_for_the_last_30_days    0
lowest_monthly_earnings             0
highest_monthly_earnings            0
lowest_yearly_earnings              0
highest_yearly_earnings             0
subscribers_for_last_30_days        0
population                          0
unemployment_rate                   0
dtype: int64

In [7]:
# Handle duplicate rows if any
df.drop_duplicates(inplace=True)

In [8]:
# Understand the data type of each column
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 0 to 994
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rank                              995 non-null    int64
 1   youtuber                          995 non-null    object
 2   subscribers                       995 non-null    int64
 3   video_views                       995 non-null    float64
 4   uploads                           995 non-null    int64
 5   country                           995 non-null    object
 6   channel_type                      995 non-null    object
 7   country_rank                      995 non-null    float64
 8   channel_type_rank                 995 non-null    float64
 9   video_views_for_the_last_30_days  995 non-null    float64
 10  lowest_monthly_earnings           995 non-null    float64
 11  highest_monthly_earnings          995 non-null    float64
 12  lowest_yearly_earnings            995 non-null    float64
 13  highest_yearly_earnings           995 non-null    float64
 14  subscribers_for_last_30_days      995 non-null    float64
 15  population                        995 non-null    float64
 16  unemployment_rate                 995 non-null    float64
dtypes: float64(11), int64(3), object(3)
memory usage: 139.9+ KB

In [12]:
# Convert float columns to integer
int_cols = ['video_views', 'country_rank', 'channel_type_rank', 'video_views_for_the_last_30_days',
            'subscribers_for_last_30_days', 'population']

for col in int_cols:
    df[col] = df[col].astype(int)

df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 995 entries, 0 to 994
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   rank                              995 non-null    int64
 1   youtuber                          995 non-null    object
 2   subscribers                       995 non-null    int64
 3   video_views                       995 non-null    int64
 4   uploads                           995 non-null    int64
 5   country                           995 non-null    object
 6   channel_type                      995 non-null    object
 7   country_rank                      995 non-null    int64
 8   channel_type_rank                 995 non-null    int64
 9   video_views_for_the_last_30_days  995 non-null    int64
 10  lowest_monthly_earnings           995 non-null    float64
 11  highest_monthly_earnings          995 non-null    float64
 12  lowest_yearly_earnings            995 non-null    float64
 13  highest_yearly_earnings           995 non-null    float64
 14  subscribers_for_last_30_days      995 non-null    int64
 15  population                        995 non-null    int64
 16  unemployment_rate                 995 non-null    float64
dtypes: float64(5), int64(9), object(3)
memory usage: 139.9+ KB

In [13]:
# Save the cleaned dataset to a new CSV file
df.to_csv("Data_cleaned.csv", index=False)

In [14]:
# Display the first 10 rows of the cleaned dataset
df.head(10)

,rank,youtuber,subscribers,video_views,uploads,country,channel_type,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,population,unemployment_rate
0,1,T-Series,245000000,228000000000,20082,India,Music,1,1,2258000000,564600.0,9000000.00,6800000.00,1.084000e+08,2000000,1366417754,5.360000
1,2,YouTube Movies,170000000,0,1,United States,Games,7670,7423,12,0.0,0.05,0.04,5.800000e-01,349079,328239523,14.700000
2,3,MrBeast,166000000,28368841870,741,United States,Entertainment,1,1,1348000000,337000.0,5400000.00,4000000.00,6.470000e+07,8000000,328239523,14.700000
3,4,Cocomelon - Nursery Rhymes,162000000,164000000000,966,United States,Education,2,1,1975000000,493800.0,7900000.00,5900000.00,9.480000e+07,1000000,328239523,14.700000
4,5,SET India,159000000,148000000000,116536,India,Entertainment,2,2,1824000000,455900.0,7300000.00,5500000.00,8.750000e+07,1000000,1366417754,5.360000
5,6,Music,119000000,0,0,United States,Music,386,745,175610284,0.0,0.00,0.00,0.000000e+00,349079,430387266,9.279278
6,7,ýýý Kids Diana Show,112000000,93247040539,1111,United States,Entertainment,3,3,731674000,182900.0,2900000.00,2200000.00,3.510000e+07,349079,328239523,14.700000
7,8,PewDiePie,111000000,29058044447,4716,Japan,Entertainment,1,4,39184000,9800.0,156700.00,117600.00,1.900000e+06,349079,126226568,2.290000
8,9,Like Nastya,106000000,90479060027,493,Russia,People,5,25,48947000,12200.0,195800.00,146800.00,2.300000e+06,100000,144373535,4.590000
9,10,Vlad and Niki,98900000,77180169894,574,United States,Entertainment,5,6,580574000,145100.0,2300000.00,1700000.00,2.790000e+07,600000,328239523,14.700000